<!DOCTYPE html>
<html lang="en">
  <head>
    <style>

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");


* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
	/* -webkit-appearance: none; */

}

body {
	/* background-color: chartreuse; */
	background-image: url(../assets/backgroundwave1.png);

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom;

}



/* ------------------------------------navbar------------------------------------- */
nav {
	display: flex;
	height: 80px;
	width: 100%;
	background: #fd8c8c;
	align-items: center;
	justify-content: space-between;
	padding: 0 50px 0 100px;
	flex-wrap: wrap;
	position: fixed;

}

nav .logo {
	height: 70px;
}

nav ul {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}

nav ul li {
	margin: 0 5px;
}

nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 500;
	padding: 8px 15px;
	border-radius: 20px;
	letter-spacing: 1px;
	transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
	color: #111;
	background: #fff;
}

nav .menu-btn i {
	color: #fff;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

input[type="checkbox"] {
	display: none;
}






body {
	height: 100vh;
}


/*-------------------- my added css for login sign up --------------------*/
.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	/* background-color: aqua; */



}

.col {
	flex: 33.33%;
	max-width: 33.33%;
	box-sizing: border-box;
	padding: 15px;
	/* background-color: brown; */
	margin-top: 80px;



}

.donor-card {
	background: #fff;
	padding: 30px;
	border-radius: 25px;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
		0 10px 10px rgba(0, 0, 0, 0.22);

	/* background-color: aquamarine; */

}





.name {
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

/*---------- form properties------------------ */


form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	border-radius: 15px;

}

select {
	border-radius: 15px;
	vertical-align: middle;
	margin: 5px 10px 5px 0;
	padding: 10px 20px;
	background-color: #eee;
	border: 1px solid #ddd;
	width: 100%;
	
	

}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

input[type=file]::file-selector-button {

	border-radius: 10px;
	border: none;
	display: none;

}

.profile-picture-selection {

	color: rgb(138, 112, 112);
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	bottom: 0;
}

button:hover {
	background-color: white;
	color: #111;
}


#sig {
	/* background-color: aqua; */
	position: relative;
	margin-top: 150px;
	z-index: 1;
}




@media screen and (max-width: 1000px) {

	nav {
		padding: 0 40px 0 50px;
	}

	.col {
		flex: 100%;
		max-width: 80%;

	}
}

@media screen and (max-width: 920px) {


	nav .menu-btn i {
		display: block;
	}

	#click:checked~.menu-btn i:before {
		content: "\f00d";
	}

	nav ul {
		position: fixed;
		top: 80px;
		left: -100%;
		background: #f99c9c;
		height: 100vh;
		width: 100%;
		text-align: center;
		display: block;
		transition: all 0.3s ease;
	}

	#click:checked~ul {
		left: 0;
	}

	nav ul li {
		width: 100%;
		margin: 40px 0;
	}

	nav ul li a {
		width: 100%;
		margin-left: -100%;
		display: block;
		font-size: 20px;
		transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	}

	#click:checked~ul li a {
		margin-left: 0px;
	}

	nav ul li a.active,
	nav ul li a:hover {
		background: none;
		color: white(252, 255, 251);
	}


	#sig {
		margin-top: -30px;
	}
}



.col {
	flex: 100%;
	max-width: 100%;
}
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="otp.css" />

    <title>The Blood Bank</title>
  </head>

  <body>
    <section class="all-doners">
      <nav>
        <div>
          <img src="./assets/pintu.png" class="logo" />
        </div>
        <input type="checkbox" id="click" />
        <label for="click" class="menu-btn">
          <i class="fas fa-bars"></i>
        </label>
        <ul>
          <!-- <li><a href="index.html">Home</a></li> -->
          <!-- <li><a href="#">Login</a></li>
          <li><a href="#">SignUp</a></li> -->
          <!-- <li><a href="#">Events</a></li> -->
          <!-- <li class="request-button"><a href="#">Requests</a></li> -->
        </ul>
      </nav>

      <div class="row">
        <div class="col">
          <div class="donor-card" id="sig">
            <div class="sign-in-container">
              <form action="./fotpVerification" method="POST">
                <h1>ENTER OTP</h1>

                <span>Please check your email for the </span>

                <input type="text" name="token" placeholder="Enter OTP" />

                <button>Verify</button>
                <li><a href="./otp">Resend Otp</a></li>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
