<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>The blood bank </title>
  <link rel="stylesheet" href="../">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://kit.fontawesome.com/f70fd3821b.js" crossorigin="anonymous"></script>
  <script src="home.js"></script>
  <!-- <link href="https://cdn.lineicons.com/3.0/lineicons.css" rel="stylesheet"> -->

<body>
  <section class="all-doners">
    <nav>
      <div>
        <img src="./TheBloodBankLogowithtext.png" class="logo" />
      </div>
      <input type="checkbox" id="click" />
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="./loginregister">Login</a></li>
        <li><a href="./loginregister">SignUp</a></li>
        <li><a href="#">Events</a></li>
        <li class="request-button"><a href="#">Request</a></li>
      </ul>
    </nav>
  

    <section class="row" id="landing">
      <div class="col">
        One pint of blood can save up to three lives.
       
        Start donating today.
        
       
      </div>
      <div >
        <img src="./6262.jpg" alt="blood donation" class="landing-image">
      </div>
      <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill="#fd8c8c" fill-opacity="1" d="M0,32L60,32C120,32,240,32,360,69.3C480,107,600,181,720,181.3C840,181,960,107,1080,69.3C1200,32,1320,32,1380,32L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path>
      </svg>
        </section>
      
    <div class="donors">
     
      <div class="inner">



        <div class="inner-inner-doner-border">
          <div class="donor-title-border">
            <label>Donors<label>
                <div class="border"></div>
          </div>


          



          <div class="dropdown">
            <select name="blood_group" class="group-select" required>
              <option value="">&emsp;&emsp;&emsp;&emsp;Select By Blood Group&emsp;&emsp;&emsp;&emsp;</option>
              <option value="A+">A+</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B-">B-</option>
              <option value="O+">O+</option>
              <option value="O-">O-</option>
              <option value="AB+">AB+</option>
              <option value="AB-">AB-</option>
            </select>
          </div>
        </div>



        <div class="row">

          <!-- my added -->
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskota@gmail.com</div>
<div class="address"><i class="fa-solid fa-location-arrow"></i>:Changunarayan, Bhaktapur</div>
                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>

          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>

          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>

          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>

          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>
          <div class="col">
            <div class="donor-card">
              <img src="p1.jpg" alt="">
              <div class="name">Anuragh Baskota</div>
              <div class="stars">
                <div class"contact-number"> <i class="fa-solid fa-phone"></i>: 9861324282</div>
                <div class"email"> <i class="fa-solid fa-envelope"></i>:anuraghbaskita@gmail.com</div>

                <div class="blood-group">Blood Type: O+</div>
              </div>
              <div>
                <div class="user-history">
                  <div class="user-donation-history">
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    Last donated in kartik 6th via Leo Blood Donation
                    <var>Last donated in kartik 6th via Leo Blood Donation</var><br>


                  </div>
                </div>

              </div>



            </div>
          </div>






        </div>
      </div>
    </div>
    </div>
  </section>

  



  <!-- footer -->
  <footer class="footers">
    <!-- <img src="./TheBloodBankLogowithtext.png" class="logo"> -->

  </footer>
</body>


</html>